
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
=======

.about-section {
  text-align: center;
}
.overlay-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.overlay-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.team-member {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  text-align: center;
  font-size: 1.5em;
  color: black;
}

.team-photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  font-size: 0.9em;
  color:black;
}
#contact {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#contact h2 {
    text-align: center;
    font-size: 3em;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-detail p {
    margin: 0;
    font-size: 1.5em;
}
=======
header{
    

}

header {
}

body {
  background-image: url(../AvengersImages/istockphoto-495868375-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgb(242,52,52);
    background: linear-gradient(90deg, rgba(242,52,52,1) 4%, rgba(171,48,41,1) 38%, rgba(179,94,45,1) 62%, rgba(153,77,30,1) 79%, rgba(115,61,27,1) 100%);
    font-size: 20px; */
}

/* h1 {
    color: purple;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
} */
/* } */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


#video-container {
  position: relative;
  height: ;
  /* width: %; */
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

/* #fightScene {
  opacity: 0.8;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
} */

